.contact-div {
  background-image: url(./../../images/joshhome.jpg);

  background-size: cover;

  background-repeat: no-repeat;
  height: 350px;

}
.connect {
  font-size: 35px;
  font-weight: 200;
  margin-left: 15px;
  padding-top: 80px;
  letter-spacing: 4px;
}
.email-div {
  display:flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-top: 70px;
  font-size: 20px;
  letter-spacing: 1px;

}
.email-link {
  color: black;
  font-weight: 300;
}
.font-a {
  display: flex;
  justify-content: flex-start;

}
.font-a > a {
  font-size: 40px;
  margin-left: 45px;
  margin-top: 20px;
  ;
}
